/client/node_modules
/client/build
/client/.pnp
/client/.pnp.js
/client/.DS_Store
/client/.env.local
/client/env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/node_modules
/server/.env